html {
  background-image: url('../images/welcome.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: none;
}

canvas #spiders{
  position: fixed;
  top: 0;
  left: 0;
}
body {
  background-color: rgba(0, 0, 0, 0);
}
.split3 {
  margin-bottom: 5.8em;
}
.split3 h1,
.split3 h2,
.split3 h3 {
  color: #fff;
  width: 100%;
  text-align: center;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.portrait {
  text-align: center;
}
.portrait img {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.33);
  width: 100%;
  max-width: 200px;
  height: auto;
}
.welcome {
  margin-bottom: 3.3em;
  text-align: center;
}
.welcome h1,
.welcome h2,
.welcome h3,
.welcome p {
  color: #FFF;
}
.welcome h1 {
  font-size: 3.3em;
}
.welcome p,
.split3 p,
ul li,
.introt {
  text-align: left;
  font-size: 1.5em;
  padding: 1em 1em 0 1em;
  color: rgba(255, 255, 255, 0.8);
}
.welcome p span.important,
.split3 p span.important,
ul li span.important,
.introt span.important,
.welcome p a,
.split3 p a,
ul li a,
.introt a {
  color: #ffffff;
  font-weight: bold;
}
.welcome p a,
.split3 p a,
ul li a,
.introt a {
  text-decoration: underline;
}
p.introt {
  width: 100%;
  text-align: center;
}
footer {
  background-color: rgba(0, 0, 0, 0.33);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
footer a {
  color: #fff;
  padding: 0 0.33em;
  font-size: 2.5em;
}
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: center;
  /* inline-block space fix */
  margin-right: -4px;
}
